@import 'variables';
$screen-tablet: 700px;
$header-height: 83px;

header.top-header {

  border-bottom: 1px solid $color-border;
}

header.top-header > nav:nth-child(1) {
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 10px;

height: $header-height;

.nav-item {
  height: 83px;
  line-height: 83px;
}

.nav-item > a {
  height: 83px;
  line-height: 83px;
  display: inline-block;
}

.nav-item > a > img {
  vertical-align: middle;
}

.nav-left {
  float: left;
  margin-right: 20px;
  width: 182px;
}

.nav-center {
  width: 147px;
  float: left;
}
@media screen and (max-width: 700px) {
  .nav-center {
    display: none;
  }
}

.nav-right {
  width: 150px;
  float: right;
}

.nav-right a {
  padding: 0 10px;
}
}
header.top-header > nav:nth-child(2) {
  border-top: 1px solid $color-border;
  padding: 8px 0;
  text-align: right;

  > div {
    max-width: 1010px;
    margin: 0 auto;
  }
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  padding-top: 40px;
  @media screen and (max-width: $screen-tablet) {
    padding-top: 0;
  }
}
