{% entends 'common/base.html' %}

{% block content %}

    <!--Detail에서 나와야 할 요소-->
    <!--사진 -->
    <!--작성자-->
    <!--작성자를 팔로잉하고 있는지 여부 및 팔로우/언팔로우 버튼-->
    <!--좋아요개수-->
    <!--댓글목록-->
        <!--댓글내용-->
        <!--태그목록-->
    <!--댓글작성-->
    <!--좋아요버튼-->
    <img src="{{ post.photo.url }}" alt="">
    <div>{{ post.author }}</div>
    <div>{{ post.like_count }}</div>

    {% if post.comment_set.all %}
        {% for comment in post.comment_set.all %}
        <div>
            <div>작성자: {{ comment.author }}</div>
            <div>내용: {{ comment.content }}</div>
            <div>작성일자: {{ comment.created_date }}</div>
        </div>
        {% endfor %}
    {% else %}
        <div>댓글이 없습니다</div>
    {% endif %}
{% endblock %}